#contact {
    width: 65%;
    margin: 0 auto;
    border-top: 1px dotted #333333;
    border-bottom: 1px dotted #333333;

    #contact-container {
        @include grid-row();
        width: 80%;
        font-size: .8em;

        #subject {
            display: block;
            margin: 0 auto;
            margin-bottom: 10px;
            width: 70%;
        }

        #message {
            display: block;
            margin: 0 auto;
            width: 70%;
            height: 200px;
            border: 1px solid lightgray;
        }

        #send-button {
            margin: 0 auto;
            width: 7.2%;

            button {
                color: darkslategray;
                background-color: lightgray;
                padding: 8px;
                border-radius: 5px;
                margin: 10px 10px 10px 0px;
            }
        }

    }

    #page-links {
        margin: 0 auto;
        width: 25%;
        padding-left: 50px;

        #page-link {
            margin: 0 auto;
            width: 20%;
        }
    }
}