#contact {
    width: 88%;
    @include breakpoint(medium) {
        width: 65%;
    }
    margin: 0 auto;
    border-top: 1px dotted black;

    #page-links {
        margin: 0 auto;
        margin-top: 30px;
        width: 40%;
        @include breakpoint(medium) {
            width: 25%;
        }
        padding-left: 25px;

        i {
            color: $font-color;
            margin: 0 auto;
            width: 20%;
        }

        i:hover {
            color: black;
        }
    }
}