@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;


$primary-font-type: 'Droid Serif', serif;
$secondary-font-type: 'Raleway', sans-serif;
$font-color: ghostwhite;
$background-color: #333333;


// Global
body {
    font-family: $secondary-font-type;
    color: $font-color;
    background-color: $background-color;
    @include grid-row();

    #upArrow {
        margin: 3em;

        i {
            @include grid-column(12);
            font-size: 2em;
            color: $font-color;
            text-align: right;
        }

        i:hover {
            color: black;
        }
    }
}

// Partials
@import 'partials/header';
@import 'partials/hero';
@import 'partials/about';
@import 'partials/portfolio';
@import 'partials/contact';
@import 'partials/footer';
