@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

$primary-font-type: 'Droid Serif', serif;
$secondary-font-type: 'Raleway', sans-serif;

body {
    font-family: $secondary-font-type;
    color: #333333;
    background-color: #f7f6ed;
}


// Partials
@import 'partials/header';
@import 'partials/hero';